@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-image: url("https://thebradhamter.github.io/hamtertv/background.png");
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

#page {
    text-align: center;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:focus {
    color: white;
}

a:active {
    color: white;
}